# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

AIS_ASCII_by_UTM_Month/*
*.csv

.DS_Store
.idea

.ipynb_checkpoints

meta_data.yaml

# Documentation builds
docs/build/*
docs/source/api/*