# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# repo data and output
data/*
!data/.gitkeep

# mac
.DS_Store

# jetbrains ide
.idea

# side effects of running script
*.ipynb_checkpoints
src/meta_data.yml

# documentation builds
docs/build/*
docs/source/api/*
