[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
pyyaml = "*"
datetime = "*"
jupyter = "*"
plotly = "*"
geojson = "*"

[requires]
python_version = "3.7"
