-i https://pypi.org/simple/
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
aspy.yaml==1.3.0
astroid==2.5.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
babel==2.9.0
backcall==0.2.0
black==19.3b0
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
click==8.0.0rc1
commonmark==0.9.1
datetime==4.3
debugpy==1.2.1
decorator==5.0.7
defusedxml==0.7.1
distlib==0.3.1
docutils==0.17.1
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
geojson==2.4.1
identify==2.2.3
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.0 ; python_version < '3.8'
ipykernel==6.0.0a4
ipython-genutils==0.2.0
ipython==7.22.0
ipywidgets==8.0.0a4
isort==4.3.21
jedi==0.18.0
jinja2==3.0.0rc1
jsonschema==3.2.0
jupyter-client==7.0.0a0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==2.0.0a1
lazy-object-proxy==1.6.0
markupsafe==2.0.0rc2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.7.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nbsphinx==0.4.2
nest-asyncio==1.5.1
nodeenv==1.6.0
notebook==6.3.0
numpy==1.17.0
packaging==20.9
pandas==0.25.0
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
plotly==4.1.0
pluggy==0.13.1
pre-commit==1.18.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0 ; os_name != 'nt'
py==1.10.0
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pygments==2.8.1
pylint==2.3.1
pyparsing==3.0.0b2
pyrsistent==0.17.3
pytest==5.0.1
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.1.2
pyzmq==22.0.3
qtconsole==5.0.3
qtpy==1.9.0
recommonmark==0.5.0
requests==2.25.1
retrying==1.3.3
send2trash==1.6.0b1
six==1.15.0
snowballstemmer==2.1.0
sphinx-automodapi==0.11
sphinx-rtd-theme==0.4.3
sphinx==2.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.9.4
testpath==0.4.4
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.3 ; implementation_name == 'cpython' and python_version < '3.8'
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.26.4
virtualenv==20.4.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.0a2
wrapt==1.12.1
zipp==3.4.1
zope.interface==5.4.0
